<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据显示</title>
    <link rel="stylesheet" href="/static/css/CSS.css">
    <script>
    function loadXMLDoc()
    {
      var xmlhttp;
      if (window.XMLHttpRequest)
      {
        // IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        xmlhttp=new XMLHttpRequest();
      }
      else
      {
        // IE6, IE5 浏览器执行代码
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
      }
      xmlhttp.onreadystatechange=function()
      {
        if (xmlhttp.readyState==4 && xmlhttp.status==200)
        {
          document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
        }
      }
      xmlhttp.open("POST","/new",true);
      xmlhttp.send();
    }
    window.setInterval(loadXMLDoc, 1000);
    </script>
</head>
<body>
<h1 style="text-align: center">所测量的数据浓度为</h1>
<div style="text-align: center" id="myDiv"></div>
{#<img src="/static/py.jpg">#}
</body>
</html>